{% extends "_layouts/admin.html" %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}
		
	<script type="text/javascript">

		/**
		 * Jquery On Load
		 *
		 */
		$(document).ready(function() {

			// JS FORM Validation
			$( "#main_form" ).submit( function() {
				return validate_empty_fields( this, '{{ form.get_required_fields }}' );
			});

			// JS for onload
			{{ on_load|default:'' }}
			
		});
		
	</script>
	
{% endblock head %}


{% block content %}

            <div class="row">
            
                <div class="col-lg-12">
                    <h1 class="page-header">Edit My Account</h1>
                </div>
                
            </div>
            
            {% include "admin/_common/status.html" %}
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            User ID# {{ user.id }}
                        </div>
                                                
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                
                                    {% include "admin/_common/form.html" %}
                                    
                                </div>

                            </div>
                            
                        </div>
                   
                    </div>
                    
                </div>
            
            </div>

{% endblock content %}







