{% extends "_layouts/admin.html" %}
{% load staticfiles %}

{% block head %}

    {{ block.super }}
		
	<script type="text/javascript">

		/**
		 * Jquery On Load
		 *
		 */
		$(document).ready(function() {
			
			// funcoes de onload definidos pelo controller
			{{ on_load|default:'' }}
			
		});

		
	</script>
	
{% endblock head %}

	

{% block content %}


            <div class="row">
            
                <div class="col-lg-12">
                    <h1 class="page-header">View User Details</h1>
                </div>
                
            </div>
            
            {% include "admin/_common/status.html" %}
            
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            User ID# {{ user.id }}
                        </div>
                                                
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                
                                	<dl class="dl-horizontal">
		                                
		                                <dt>Name:</dt>
		                                <dd>{{ user.name }}</dd>
		                                
		                                <dt>E-mail:</dt>
		                                <dd>{{ user.email }}</dd>

                                        <dt>Is Superuser?</dt>
		                                <dd>{% if user.is_superuser %} Yes {% else %} No {% endif %}</dd>

                                        <dt>Is Active?</dt>
		                                <dd>{% if user.is_active %} Yes {% else %} No {% endif %}</dd>
		                                
		                                <dt>Group(s):</dt>
		                                <dd>
                                            {% for group in user.groups.all %}
                                                - {{ group }}
                                            {% endfor %}
                                        </dd>
		                                
		                            </dl>
		                            
		                            <div class="text-center buttons">
		                            	<a href="{% url 'admin:core:admin_users' %}" class="btn btn-default"><i class="fa fa-arrow-left"></i>Go Back</a>
		                                <a href="{% url 'admin:core:admin_user_edit' user.id %}" class="btn btn-default"><i class="fa fa-edit"></i>Edit Data</a>
		                                <a href="#" onclick="confirm_delete( '{% url 'admin:core:admin_user_delete' user.id %}' )" class="btn btn-danger"><i class="fa fa-trash-o"></i>Delete</a>
									</div>
                                    
                                </div>

                            </div>
                            
                        </div>
                   
                    </div>
                    
                </div>
            
            </div>

{% endblock content %}







