dea/*
*/.idea
*/.idea/*
infra/.vagrant
wiki/*
django/upload/*
django/celerybeat-schedule
django/~/
.idea/
.idea/*
.idea/.name
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
.idea/vron.iml
.idea/workspace.xml
*/__pycache__/
*/__pycache__/*
__pycache__/
__pycache__/*
*.pyc
*.pyc
