

<html xmlns="http://www.w3.org/1999/html">
    <body>
        <br>
        <b>Dear Respax Support Team,</b>
        <br>
        <br>
        Supplier Code <b>{{ supplier_name }}</b> has configured the Viator Agent with an incorrect Credit Status.
        <br>
        VRON only supports full-agent and full-levy.
        <br>
        Please contact the Supplier to discuss this on behalf of Viator.
        <br>
        <br>
        The VRON Admin Default Payment option for {{ supplier_name }} has been set to full-agent.
        <br>
        If {{ supplier_name }} will set the new Credit Status in Respax to FULL, then no further action is required.
        <br>
        If {{ supplier_name }} will set the new Credit Status in Respax to FULL-LEVY, then then VRON Admin will need to manually be updated, or wait until the next scheduled check.
        <br>
        <br>
        <br>
        Regards,
        <br>
        VRON API Administrator
    </body>
</html>